<h1>Really, what color are your eyes?</h1>
To figure it out, let's take a few pictures.
{{#unless started}}
  <button {{action 'start'}}>Let's Go!</button>
{{else}}
  <button {{action 'takePicture'}}>Take Picture</button>
{{/unless}}
<video width="320" height="240"></video>
<div class="target-box"></div>
{{error}}
<br>
<canvas class="canvas-1"></canvas>
<canvas class="canvas-2"></canvas>
<canvas class="canvas-3"></canvas>
<canvas class="canvas-4"></canvas>
