
html {
  box-sizing: border-box;
  height: 100%;
}

body {
  border: 4px solid black;
  margin: 3px;
  box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
  padding: 5px;
  min-height: 96%;
}

.title {
  text-align: center;
  font-size: 10vw;
}

.tagline {
  text-align: center;
}

.home, .post {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  .title {
    font-size: 8vw;
  }
}
.center {
  text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.markdown-helper {
  margin: 30px;
  text-align: justify;
}

@import 'life-calendar.scss';
@import 'eye-color.scss';
